html, body {
  overflow-x: hidden;
}

body {
  background: hsl(240, 59%, 92%) url('../img/people_480.jpg') 50% 50% no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  z-index: 0;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

body:after {
  background: hsla(0, 100%, 100%, 40%);
  content: '';
  height: 100%;
  position: fixed;
  scroll-behavior: smooth;
  width: 100%;
  z-index: -1;
}

.site-header, .site-footer {
  box-shadow: 0 0.0625rem 0.1250rem rgba(0, 0, 0, 0.3), 0 0.1250rem 0.25rem rgba(0, 0, 0, 0.2), 0 0.1875rem 0.3750rem rgba(0, 0, 0, 0.15);
  position: relative;
  z-index: 10;
}

.wrapper {
  /* border-bottom: 0.5rem solid hsl(49, 97%, 40%); */
  left: 0;
  position: relative;
  top: 0;
  width: 100%;
  z-index: 0;
}

.banner {
  background: hsla(0, 0%, 95%, 75%);
  border: 0.9375rem solid hsla(0, 0%, 95%, 67%);
  color: hsl(240, 55%, 15%);
  margin: 0 auto;
  max-width: 480px;
  padding: 3.75rem 0.9375rem 1.8750rem;
  text-align: center;
  width: 100%;
}

.banner h1 {
  font-size: 1.5rem;
}

.card-list {
  align-items: center;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-gap: 0.9375rem;
  justify-items: center;
  list-style-type: none;
  margin: 0 auto;
  max-width: 100rem;
  text-transform: capitalize;
  width: 100%;
}

.card-container {
  padding: 0.9375rem;
}

.card-item {
  background: hsla(0, 0%, 100%, 75%);
  border: 0.1875rem solid hsla(0, 0%, 100%, 25%);
  border-radius: 0.5rem;
  box-shadow: 0 0.0625rem 0.1250rem rgba(0, 0, 0, 0.3), 0 0.1250rem 0.25rem rgba(0, 0, 0, 0.2), 0 0.1875rem 0.3750rem rgba(0, 0, 0, 0.15);
  max-width: 20rem;
  overflow: hidden;
  position: relative;
  transform: scale(1);
  transition: transform 0.25s cubic-bezier(0.19, 1.49, 0.74, 1.5);
  width: 100%;
  z-index: 1;
}

.card-item:hover {
  box-shadow: 0 0.1250rem 0.3750rem rgba(0, 0, 0, 0.2), 0 0.1875rem 0.5rem rgba(0, 0, 0, 0.15), 0 0.3125rem 0.6125rem rgba(0, 0, 0, 0.1);
  transform: scale(1.25);
  z-index: 2;
}

.card-name {
  background: hsl(240, 55%, 15%);
  background: -moz-linear-gradient(top, hsl(190, 55%, 25%) 0%, hsl(240, 55%, 5%) 100%);
  background: -webkit-linear-gradient(top, hsl(190, 55%, 25%) 0%, hsl(240, 55%, 5%) 100%);
  background: linear-gradient(to bottom, hsl(190, 55%, 25%) 0%, hsl(240, 55%, 5%) 100%);
  border-radius: 0.375rem 0.375rem 0 0;
  color: white;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  font-size: 1.25rem;
  font-weight: 700;
  justify-content: center;
  padding: 1.8750rem 0.9375rem 0.6250rem;
  position: relative;
  text-align: right;
}

.card-image {
  left: -8%;
  top: -33%;
  padding-top: 0.9375rem;
  position: absolute;
  width: 33%;
  z-index: 0;
}

.card-image img {
  color: white;
  border-radius: 50%;
  box-shadow: inset 0 0 0.5rem rgba(0, 0, 0, 0.5);
  max-width: 8rem;
  width: 100%;
}

.card-info {
  border-radius: 0 0 0.375rem 0.375rem;
  color: hsl(240, 6%, 36%);
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  font-weight: 700;
  justify-content: center;
  line-height: 1.5;
  padding: 0.6250rem 0.9375rem 0.9375rem;
  position: relative;
  text-align: right;
  z-index: 1;
}

.card-email {
  text-transform: none;
  font-weight: 400;
}

@media only screen and (min-width: 30rem) {
  /* 480px */
  .card-image {
    left: -6%;
    top: 40%;
  }
  .banner {
    margin: 3.75rem auto;
  }
  .banner h1 {
    font-size: 2.25rem;
  }
  .banner p {
    font-size: 1.125rem;
  }
}

@media only screen and (min-width: 42.9375rem) {
  /* 687px */
  body {
    background-image: url('../img/people_960.jpg')
  }
  .banner h1 {
    font-size: 2.3750rem;
  }
  .banner p {
    font-size: 1.25rem;
  }
  .card-list {
    grid-template-columns: repeat(2, 1fr);
    padding: 1.8750rem 0.9375rem;
  }
  .card-item {
    justify-self: right;
  }
  .card-item:nth-of-type(2n) {
    justify-self: left;
  }
}

@media only screen and (min-width: 62.9375rem) {
  /* 1007px */
  body {
    background-image: url('../img/people_1366.jpg')
  }
  .card-list {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1.875rem;
  }
  .card-item {
    justify-self: center;
    max-width: 100%;
  }
  .card-item:nth-of-type(2n) {
    justify-self: center;
  }
  .card-image {
    left: -9%;
    top: 25%;
    width: 33%;
  }
  .card-image img {
    border: 0.3125rem solid white;
    box-shadow: none;
  }
  .card-name, .card-info {
    padding-right: 1.8750rem;
  }
}

@media only screen and (min-width: 82.9375rem) {
  .card-list {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media only screen and (min-width: 120rem) {
  /* 1920px */
  body {
    background-image: url('../img/people_1920.jpg')
  }
}